<link href="/css/index.css" rel="stylesheet"/>
<!-- 상단 네비게이션 바 -->
<header class="navbar">
    <div class="logo">
        <h5 class="card-title">LOGO</h5>
    </div>
    <div class="nav-buttons" id="nav-buttons">
        <!-- 여기 버튼들은 JS에서 동적으로 설정됩니다 -->
    </div>
</header>