{{>layouts/header1}}
{{>layouts/navigation}}

<!-- 중앙에 콘텐츠를 위한 공간 -->
<div class="content">
    <h1>Welcome to the Index Page</h1>
    <p>여기에 중앙 컨텐츠가 들어갈 수 있습니다.</p>
    <div id="content">
        <!-- 로그인 체크 및 타이머 등 동적으로 추가될 내용 -->
    </div>
</div>

{{>utility/toast}}
<!-- 스크립트 로드 -->
<script src="/js/app/index.js"></script>
{{>layouts/footer1}}
