{{>layouts/header1}}
<link href="/css/index.css" rel="stylesheet" />
<div class="formContainer">
    <div class="signin">
        <div class="card-body text-center">
            <h5 class="card-title">Index Page</h5>
            <hr />
            <div id="content">
                <!-- 동적으로 내용이 추가됩니다 -->
            </div>
        </div>
    </div>
</div>
{{>utility/toast}}

<!-- 스크립트 로드 -->
<script src="/js/app/index.js"></script>
{{>layouts/footer1}}
