body {
    background-color: #1d2063;
}

.formContainer {
    position: relative;
    height: 450px;
    width: 400px;
    margin: auto;
    position: fixed;
    border-radius: 8px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.formContainer .signin {
    position: relative;
    top: 0;
    transition: all ease 0.5s;
}

.formContainer .logo {
    height: 150px;
    width: 150px;
    margin: auto;
    font-size: 140px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.card-body {
    background-color: #333aa5;
    padding: 32px 20px;
    border-radius: 8px;
}

#content p {
    color: white;  /* 글자색을 흰색으로 설정 */
    font-size: 20px;
}

h5.card-title {
    color: white;  /* 제목을 흰색으로 설정 */
    font-size: 24px;
    margin-top: 20px;
}

#content button {
    border-radius: 50px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.btn-primary {
    background-color: white;
    color: #f82363;
    border: none;
}

.btn-secondary {
    background-color: #333aa5;
    color: white;
    border: none;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

