.formContainer {
  position: relative;
  height: 500px;
  width: 400px;
  margin: auto;
  position: fixed;
  border-radius: 8px;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.formContainer .logo {
  height: 150px;
  width: 150px;
  margin: auto;
  font-size: 140px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--lgn-text-color);
  font-family: 'Roboto', sans-serif;
}
.formContainer .input-group {
  position: relative;
  margin-bottom: 20px;
}
.formContainer .input-group i.fa {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: var(--lgn-text-color);
  left: 4px;
}
.formContainer .input-group input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  height: 30px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--lgn-text-color);
  font-family: 'Roboto', sans-serif;
  color: var(--lgn-text-color);
  padding-left: 30px;
}
.formContainer .input-group input::placeholder {
  color: var(--lgn-text-color);
}
.formContainer button[type="button"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--lgn-text-color);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  color: var(--button-text-color);
}
.signin {
  position: relative;
  top: 0;
  transition: all ease 0.5s;
}
.signin form {
  background-color: var(--button-text-color);
  padding: 55px 20px;
}
.signup {
  position: relative;
  top: 0;
  transition: all ease 0.5s;
}
.signup form {
  background-color: var(--lgn-color);
  padding: 34px 20px;
}
.signup form .logo {
  font-size: 50px;
  height: 60px;
  width: 60px;
}
.signup form button[type="submit"] {
  color: var(--lgn-color);
}
/*toggle link*/
#signup {
  cursor: pointer;
  position: relative;
  display: block;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--lgn-color);
  color: var(--lgn-text-color);
  font-family: 'Roboto', sans-serif;
}
#signup.active {
  background-color: var(--button-text-color);
}
/*toogle classes*/
.signin.moveup {
  top: -87.5%;
}
.signup.moveup {
  top: -87.5%;
}
/*link*/
.info {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  margin: auto;
  text-align: center;
  color: var(--lgn-text-color);
  font-weight: 600;
  width: 200px;
  font-size: 1.2rem;
}
.info a {
  font-size: 3rem;
  display: block;
  color: var(--lgn-text-color);
}
#btnJoin:disabled {
  background-color: #d3d3d3; /* 회색으로 배경 색상 변경 */
  color: #808080; /* 텍스트 색상도 회색으로 변경 */
  cursor: not-allowed; /* 마우스 커서를 '금지' 모양으로 변경 */
}

.mainLogo {
  margin: 15px 20px; /* 위아래로 20px의 마진을 추가 */
  display: inline-block; /* 로고가 정렬될 때 블록처럼 동작하게 만듦 */
}

.thema_btn {
  border-radius: 20px;
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  float: right;
  margin-right: 20px;
  margin-top: 23px;
  z-index: 1000;
}

.thema_btn:hover {
  background-color: var(--button-text-color);
  color: var(--button-background);
}