{{>layouts/header1}}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #f8f9fa;">
    <div class="card shadow-sm" style="width: 300px;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Login</h3>
            <form id="loginForm">
                <div class="mb-3">
                    <label for="userId" class="form-label">UserId</label>
                    <input type="text" class="form-control" id="userId" placeholder="Enter userId" autofocus required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                </div>
                <button type="button" class="btn btn-primary w-100" onclick="loginForm.submitForm()">Login</button>
            </form>
        </div>
    </div>
</div>
{{>utility/toast}}
<script src="/js/app/login.js"></script>
<script src="/js/utility/regexpCheck.js"></script>
{{>layouts/footer1}}

